<mat-toolbar class="headbar3 mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:3" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2" class="ok">
        <span>我的购物车</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="8">
        <span></span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span>
          <div class="detail-card">

            <a href="">
              <span class="myOrder">
                我的订单
              </span>
            </a>
          </div>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<div class="shoplistbar">

  <mat-grid-list cols="12" rowHeight="5:3" class="bar">

    <mat-grid-tile colspan="1">
      <span>
        <mat-checkbox color="primary" id="selectall">
          全选
        </mat-checkbox>
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <span>商品名称</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">单价</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>

    <mat-grid-tile colspan="1">数量</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">小计</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">操作</mat-grid-tile>

  </mat-grid-list>



</div>
<div class="shoplist">
  <mat-grid-list cols="12" rowHeight="5:3" class="bar">

    <mat-grid-tile colspan="1">
      <span>
        <mat-checkbox color="primary" id="checkgood">

        </mat-checkbox>
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img class="goodsimg" src="http://i1.mifile.cn/a1/pms_1508230324.1313855!80x80.jpg">
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <span>小白智能摄像机大众版-白色</span>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">99元</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>

    <mat-grid-tile colspan="1">2</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">99元</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">×</mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="12" rowHeight="5:3" class="bar">

    <mat-grid-tile colspan="1">
      <span>
        <mat-checkbox color="primary">

        </mat-checkbox>
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img class="goodsimg" src="http://i1.mifile.cn/a1/pms_1508230324.1313855!80x80.jpg">
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <span>小白智能摄像机大众版-白色</span>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">99元</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>

    <mat-grid-tile colspan="1">2</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">99元</mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">×</mat-grid-tile>

  </mat-grid-list>

</div>
<div class="shoplistbar">
  <mat-grid-list cols="12" rowHeight="5:3" class="bar">

    <mat-grid-tile colspan="1">
      <a href="">
        <span>
          继续购物
        </span>
      </a>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <span>
        共1件商品，已选择1件商品
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">

    </mat-grid-tile>


    <mat-grid-tile colspan="1">合计99元</mat-grid-tile>

    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-stroked-button>去结算</button>
    </mat-grid-tile>

  </mat-grid-list>

</div>

<div>
  <div class="recommend-title-div"></div>
  <div class="recommend-title-div">
    <h1 class="recommend-title">
      <span>
        买购物车中商品的人还购买了
      </span>
    </h1>
  </div>
  <div class="recommend">
    <ul class="row">
      <li class="recommend-item">
        <dl>
          <dt>
            <a>
              <img src="https://i1.mifile.cn/a1/pms_1527754949.17141338!140x140.jpg">
            </a>
          </dt>
          <dd>
            <a> 小米手环3</a>
          </dd>
          <dd class="recommend-price">
            169元
          </dd>
          <dd class="recommend-tips">
            1.6万人好评
            <a class="recommend-addbtn">加入购物车</a>
          </dd>

        </dl>
      </li>
      <li class="recommend-item">
        <dl>
          <dt>
            <a>
              <img src="https://i1.mifile.cn/a1/pms_1527754949.17141338!140x140.jpg">
            </a>
          </dt>
          <dd>
            <a> 小米手环3</a>
          </dd>
          <dd class="recommend-price">
            169元
          </dd>
          <dd class="recommend-tips">
            1.6万人好评
            <a class="recommend-addbtn">加入购物车</a>
          </dd>

        </dl>
      </li>
      <li class="recommend-item">
        <dl>
          <dt>
            <a>
              <img src="https://i1.mifile.cn/a1/pms_1527754949.17141338!140x140.jpg">
            </a>
          </dt>
          <dd>
            <a> 小米手环3</a>
          </dd>
          <dd class="recommend-price">
            169元
          </dd>
          <dd class="recommend-tips">
            1.6万人好评
            <a class="recommend-addbtn">加入购物车</a>
          </dd>

        </dl>
      </li>
      <li class="recommend-item">
        <dl>
          <dt>
            <a>
              <img src="https://i1.mifile.cn/a1/pms_1527754949.17141338!140x140.jpg">
            </a>
          </dt>
          <dd>
            <a> 小米手环3</a>
          </dd>
          <dd class="recommend-price">
            169元
          </dd>
          <dd class="recommend-tips">
            1.6万人好评
            <a class="recommend-addbtn">加入购物车</a>
          </dd>

        </dl>
      </li>
      <li class="recommend-item">
        <dl>
          <dt>
            <a>
              <img src="https://i1.mifile.cn/a1/pms_1527754949.17141338!140x140.jpg">
            </a>
          </dt>
          <dd>
            <a> 小米手环3</a>
          </dd>
          <dd class="recommend-price">
            169元
          </dd>
          <dd class="recommend-tips">
            1.6万人好评
            <a class="recommend-addbtn">加入购物车</a>
          </dd>

        </dl>
      </li>
    </ul>
  </div>
  <div class="recommend">
    <ul class="row">
      <li class="recommend-item">
        <dl>
          <dt>
            <a>
              <img src="https://i1.mifile.cn/a1/pms_1527754949.17141338!140x140.jpg">
            </a>
          </dt>
          <dd>
            <a> 小米手环3</a>
          </dd>
          <dd class="recommend-price">
            169元
          </dd>
          <dd class="recommend-tips">
            1.6万人好评
            <a class="recommend-addbtn">加入购物车</a>
          </dd>

        </dl>
      </li>
    </ul>
  </div>

</div>
