<div class="background">
  <mat-toolbar class="headbar mat-elevation-z2" color="primary">
    <mat-toolbar-row>
      <mat-grid-list cols="7" rowHeight="102px" class="bar">
        <mat-grid-tile colspan="3"></mat-grid-tile>
        <mat-grid-tile class="ok">
          <span>Are you Ok 闪购</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="3"></mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="headbar mat-elevation-z2" color="primary">
    <mat-toolbar-row>
      <mat-grid-list cols="7" rowHeight="64px" class="bar">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(i)">
              <span class="firstTimeSize">6:00</span>
              <span class="secondTimeSize">{{firstTime}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(i)">
              <span class="firstTimeSize">10:00</span>
              <span class="secondTimeSize">{{secondTime}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(i)">
              <span class="firstTimeSize">14:00</span>
              <span class="secondTimeSize">{{thirdTime}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(i)">
              <span class="firstTimeSize">18:00</span>
              <span class="secondTimeSize">{{fourthTime}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(i)">
              <span class="firstTimeSize">22:00</span>
              <span class="secondTimeSize">{{fifthTime}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
