<div class="background">
  <mat-toolbar class="headbar" color="primary">
    <mat-grid-list cols="7" rowHeight="102px" class="bar">
      <mat-grid-tile colspan="2"></mat-grid-tile>
      <mat-grid-tile colspan="3" class="ok">
        <span style="font-size: 35px">Are you Ok 闪购</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="2"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar>

  <mat-toolbar class="headbar" color="primary">
    <mat-toolbar-row>
      <mat-grid-list cols="7" rowHeight="64px" class="bar">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(1)">
              <span class="firstTimeSize">{{times[0]}}</span>
              <span class="secondTimeSize">{{timeTipe[0]}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(2)" >
              <span class="firstTimeSize">{{times[1]}}</span>
              <span class="secondTimeSize">{{timeTipe[1]}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(3)">
              <span class="firstTimeSize">{{times[2]}}</span>
              <span class="secondTimeSize">{{timeTipe[2]}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(4)">
              <span class="firstTimeSize">{{times[3]}}</span>
              <span class="secondTimeSize">{{timeTipe[3]}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile class="killTime">
          <span class="full">
            <button mat-button class="killTimeInner-true" (click)="showKillGood(5)">
              <span class="firstTimeSize">{{times[4]}}</span>
              <span class="secondTimeSize">{{timeTipe[4]}}</span>
            </button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="picheadbar mat-elevation-z2" color="primary">
      <mat-grid-list cols="7" rowHeight="34px" class="bar">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile *ngFor="let item of showPicList">
          <span class="full" *ngIf="item">
             <img src="/assets/timg.jpg" class="full">
          </span>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
  </mat-toolbar>

  <mat-grid-list cols="7" rowHeight="660px" class="killgoodheadbar">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="5" class="killgoodbar">
      <mat-grid-list cols="3" class="killgoodbar" rowHeight="200px">
        <mat-grid-tile *ngFor="let item of killGoodsList$">
          <mat-card class="killgoodbar" rowHeight="200px" style="margin-right: 10px; margin-bottom: 10px">
            <mat-grid-list cols="2" class="killgoodbar"   rowHeight="150px">
              <mat-grid-tile>
                <img src="{{item.goods.gPictureurl}}" style="height: 130px; width: 120px;"> 
              </mat-grid-tile>
              <mat-grid-tile>
                <table style="height: 150px; width: 100%; margin-left: 10%">
                  <tr>
                    <h5>{{item.goods.gName}}</h5>
                  </tr>
                  <tr style="color: rgb(228, 48, 48); margin-left: 10%">{{item.kgPrice}}元</tr>
                  <tr style="margin-left: 10%">{{item.kgQuantity}}</tr>
                  <tr style="margin-left: 10%" *ngIf="isShowButton">
                    <button mat-button style="background-color: rgb(255, 87, 20)">{{ifkillGoodOver}}</button>
                  </tr>
                  <tr style="margin-left: 10%" *ngIf="!isShowButton">
                    <button mat-button style="background-color: rgb(21, 218, 47)" (click)="insertNote(item.goods.gName)">设置提醒</button>
                  </tr>
                </table>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

<button mat-raised-button (click)="openDialog()">测试dialog</button> 
<button mat-button (click)="clickTime()">测试连接</button>
</div>
