<mat-toolbar class="head" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:3" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2" class="yes"> 
        <a href="/#/home">
          <span>I'm very OK!</span>
        </a>      
      </mat-grid-tile>
      <mat-grid-tile cplspan="12"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="body" color="primary">
  <mat-grid-list cols="15" rowHeight="500px" class="bar">
    <mat-grid-tile colspan="11">
      <img class="photo" src="https://i1.mifile.cn/a4/xmad_15283359125436_gBSNq.jpg">
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div class="mainbox">
        <div class="nav-tabs">
          <p class="us_name"></p>
          <a class="navtab-link">帐号登录</a>
        </div>
        <div class="login_area">
          <div class="lgn_inputbg c_b">
            <p class="us_name"></p>
            <div>
            <label class="labelbox c_b" for>
              <input class="item_account" type="text" matInput [(ngModel)]="phone" placeholder="手机号码/小米ID">
            </label>
            </div>
            <div>
            <label class="labelbox c_b">
              <input class="item_account" type="password" matInput [(ngModel)]="pwd" placeholder="密码">
            </label>
            </div>
          </div>
          <p class="us_name"></p>
          <a class="btnadpt" href="" (click)="login()">登录</a>
          <div class="n_links_area">
            <a class="outer-link" href="/#/regist">立即注册</a>
            <span>|</span>
            <a class="outer-link" href="/#/check">忘记密码</a>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>

  