<div class="background">
  <table class="msgtable">
    <div style="width: 100%; height: 100%;" *ngIf="isShowButton">
      <tr style="height: 100px; width: 240px;">
        <h4 style="margin-left: 25%;margin-top: 25%">你抢购的价钱为{{kgPrice}}的商品{{kgName}}{{kgMsg}}</h4>
      </tr>
      <tr style="height: 100px; width: 240px;">
        <button mat-button  class="button" (click)="onClickSuccess()">完成</button>
      </tr>
    </div>
    <div style="width: 100%; height: 100%;" *ngIf="!isShowButton">
      <tr style="height: 10px; width: 240px;">
        <h4 style="margin-left: 25%;margin-top: 25%">你抢购的价钱为{{kgPrice}}的商品{{kgName}}{{kgMsg}}</h4>
      </tr>
      <tr style="height: 100px; width: 240px;">
        <button mat-button  class="button" (click)="onClickFail()">完成</button>
      </tr>
    </div>
  </table>
</div>
