<mat-toolbar class="headbar" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="14" rowHeight="5:3" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="1">
        <a href="/#/home">
          <img class="icon" src="assets/icon.png">
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="7"></mat-grid-tile>
      <mat-grid-tile>
        <span class="login" *ngIf="!isLogin">
          <a href="/#/login">
            <button mat-button class="btn-login">登录</button>
          </a>
        </span>
        <span class="login" *ngIf="isLogin">
          <a href="/#/shopcar">
            <button mat-button class="btn-login">购物车</button>
          </a>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <span class="regist" *ngIf="!isLogin">
          <a href="/#/regist">
            <button mat-button class="btn-regist">注册</button>
          </a>
        </span>
        <mat-form-field *ngIf="isLogin">
          <mat-select placeholder="{{customer.cName}}" class="menu">
            <mat-option>
              <span class="option" (click)="jumpToSelfCenter()">
                个人中心
              </span>
            </mat-option>
            <mat-option (click)="logout()">
              <span class="option">
                注销
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <span class="span-info">
          <a href="/#/message">
            <button mat-button class="info">消息通知</button>
          </a>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="headbar2 mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="14" rowHeight="5:3" class="bar">
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <!-- <mat-grid-tile colspan="2" class="ok">
        <span>Are you OK ?</span>
      </mat-grid-tile> -->
      <mat-grid-tile colspan="7"></mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span class="searchSpan">
          <div class="input-group mb-3">
            <input [(ngModel)]="searchContent" type="text" class="form-control" placeholder="输入搜索关键词" aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search(template)">搜索</button>
            </div>
          </div>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="headbar" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="17" rowHeight="5:3" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>

      <mat-grid-tile colspan="3">
        <span>
          <button mat-button class="btn-login">预约维修服务</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span>
          <button mat-button class="btn-regist">7天无理由退货</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span>
          <button mat-button class="btn-regist">15天免费换货</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span>
          <button mat-button class="btn-regist">满150元包邮</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span>
          <button mat-button class="btn-regist">520余家售后网点</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Error</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    查询条件不能为空!
  </div>
</ng-template>
