.headbar {
  background-color: #333333;
}
.headbar2 {
  background-color: #ffffff;
  color: black;
  z-index: -1 !important;
}

.searchSpan {
  margin-top: 3%;
}
.bar {
  width: 100%;
}

.login {
  width: 100%;
  height: 100%;
  .btn-login {
    width: 100%;
    height: 100%;
  }
}

.regist {
  width: 100%;
  height: 100%;
  .btn-regist {
    width: 100%;
    height: 100%;
  }
}

.span-info {
  width: 100%;
  height: 100%;
  .btn-info {
    width: 100%;
    height: 100%;
  }
}

.icon {
  margin-left: 32px;
  width: 30%;
  height: 90%;
}
