<mat-toolbar class="headbar mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="30" rowHeight="5:6" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="4" class="ok">
        <span>{{shopping.goods.gName}}</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="18"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <a href="/#/shopcar">
          <span class="span-info">
            <button mat-button class="btn-comment"><span class="jumptoshopcar">购物车</span></button>
          </span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <span class="span-info">
          <button mat-button class="btn-comment">用户评价</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>

    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>


<mat-grid-list cols="6" rowHeight="2:7" class="divideList">

  <mat-grid-tile colspan="3" class="simple-tile">
    <img :src="{{showPic}}" class="advpic">
  </mat-grid-tile>

  <mat-grid-tile colspan="3" class="simple-tile">
    <mat-grid-list cols="1" rowHeight="7:1" class="advlist">
      <mat-grid-tile rowspan="1" class="info mat-elevation-z2">
        <span class="infospan">{{shopping.goods.gName}}</span>
        <span style="margin-right:40px;"> </span>
        <span class="price">{{shopping.goods.gPrice}}元</span>
      </mat-grid-tile>

      <div *ngIf="map.get(1)!=null">
        <mat-grid-tile rowspan="1" class="cspan">
          <span class="span">选择颜色</span>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" class="mat-elevation-z2">
          <mat-grid-list cols="2" rowHeight="7:4" class="advlist">
            <mat-grid-tile colspan="2">
              <mat-grid-list cols="2" rowHeight="4:1" class="advlist">
                <mat-grid-tile *ngFor="let item of map.get(1); let i=index">
                  <button mat-button class="btn-description" (click)="changePic(i)">
                    <span clss="desspan">{{item.cfgDescription}}</span>
                    <span clss="pricespan">{{shopping.goods.gPrice - (-item.cfgPricedata)}}元</span>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>
      </div>

      <div *ngIf="map.get(2)!=null">
        <mat-grid-tile rowspan="1" class="cspan">
          <span class="span">选择版本</span>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" class="mat-elevation-z2">
          <mat-grid-list cols="2" rowHeight="7:4" class="advlist">
            <mat-grid-tile colspan="2">
              <mat-grid-list cols="2" rowHeight="4:1" class="advlist">
                <mat-grid-tile *ngFor="let item of map.get(2); let i=index">
                  <button mat-button class="btn-description">
                    <span>{{item.cfgDescription}}</span>
                    <span clss="pricespan">{{shopping.goods.gPrice - (-item.cfgPricedata)}}元</span>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-grid-tile>
      </div>

      <mat-grid-tile rowspan="1" class="button">

        <span class="insert" *ngIf="isshow">

          <button mat-button class="btn-insert" (click)="addGoodsToShopcar()">加入购物车</button>

        </span>

        <span class="OOS" *ngIf="!isshow">
          <button mat-button class="btn-OOS">暂时缺货</button>
        </span>

        <span class="fav">
          <button mat-button class="btn-fav" (click)="addGoodsToFavorite()">喜欢</button>
        </span>

      </mat-grid-tile>

    </mat-grid-list>
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar class="headbar mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:2" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2" class="ok">
        <span>特别说明</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="12"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="18:5" class="divideList">
  <mat-grid-tile class="devideTile">
    <img class="dividePic" :src="https://i8.mifile.cn/b2c-mimall-media/aaee9db8790426631abc3b76fa3da617.jpg">
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar class="headbar mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:2" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2" class="ok">
        <span>官方微信</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="12"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="15:2" class="divideList">
  <mat-grid-tile class="devideTile">
    <img class="dividePic" :src="https://i8.mifile.cn/b2c-mimall-media/1a84b2b629512205bf528aae91361efb.jpg">
  </mat-grid-tile>
</mat-grid-list>
