<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-atom"></ngx-spinner>

<!-- 工具栏显示商品名称与购物车，评价按钮 -->
<mat-toolbar class="headbar mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="30" rowHeight="5:6" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="5" class="ok">
        <span>{{shopping.goods.gName}}</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="17"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <a href="/#/shopcar">
          <span class="span-info">
            <button mat-button class="btn-comment">
              <span class="jumptoshopcar">购物车</span>
            </button>
          </span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <span class="span-info">
          <button mat-button class="btn-comment" (click)="goToComment()">用户评价</button>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<!-- 六列，左侧三列为图片展示，右侧三列为信息展示 -->
<mat-grid-list *ngIf="!isShowComment" cols="6" rowHeight="2:7" class="divideList">

  <mat-grid-tile colspan="3" class="simple-tile">
    <img :src="{{showPic}}" class="advpic">
  </mat-grid-tile>
  <!-- 列内部分行，分别显示各类信息 -->
  <mat-grid-tile colspan="3" class="simple-tile">
    <mat-grid-list cols="1" rowHeight="7:1" class="advlist">
      <mat-grid-tile rowspan="1" class="info mat-elevation-z2">
        <span class="infospan">{{shopping.goods.gName}}</span>
        <span style="margin-right:40px;"> </span>
        <span class="price">{{shopping.goods.gPrice}}元</span>
      </mat-grid-tile>
      <!-- 根据type判断是否现实颜色或版本 -->
      <div *ngIf="map.get(1)!=null">
        <mat-grid-tile rowspan="1" class="cspan">
          <span class="span">选择颜色</span>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" class="mat-elevation-z2">
          <mat-grid-list cols="2" rowHeight="7:4" class="advlist">
            <mat-grid-tile colspan="2">
              <mat-grid-list cols="2" rowHeight="4:1" class="advlist">
                <mat-grid-tile *ngFor="let item of map.get(1); let i=index">
                  <button mat-button class="btn-description" (click)="changePic(i)">
                    <span clss="desspan">{{item.cfgDescription}}</span>
                    <span clss="pricespan">{{shopping.goods.gPrice - (-item.cfgPricedata)}}元</span>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>
      </div>

      <div *ngIf="map.get(2)!=null">
        <mat-grid-tile rowspan="1" class="cspan">
          <span class="span">选择版本</span>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" class="mat-elevation-z2">
          <mat-grid-list cols="2" rowHeight="7:4" class="advlist">
            <mat-grid-tile colspan="2">
              <mat-grid-list cols="2" rowHeight="4:1" class="advlist">
                <mat-grid-tile *ngFor="let item of map.get(2); let i=index">
                  <button mat-button class="btn-description">
                    <span>{{item.cfgDescription}}</span>
                    <span clss="pricespan">{{shopping.goods.gPrice - (-item.cfgPricedata)}}元</span>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-grid-tile>
      </div>

      <!-- 不同条件下展示不同按钮 -->
      <mat-grid-tile rowspan="1" class="button">

        <span class="insert" *ngIf="isshow">
          <button mat-button class="btn-insert" (click)="addGoodsToShopcar()">加入购物车</button>
        </span>

        <span class="OOS" *ngIf="!isshow">
          <button mat-button class="btn-OOS">暂时缺货</button>
        </span>

        <span class="fav" *ngIf="isshow1">
          <button mat-button class="btn-fav" (click)="addGoodsToFavorite()">喜欢</button>
        </span>

        <span class="OOS" *ngIf="!isshow1">
          <button mat-button class="btn-OOS">已喜欢</button>
        </span>

      </mat-grid-tile>

    </mat-grid-list>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="isShowComment" cols="3" class="list-comment">
  <mat-grid-tile colspan="2" class="tile-popular">
    <div class="title-popular">
      <h5 class="h-popular">热门评价</h5>
      <div class="d-popular mat-elevation-z4" *ngFor="let comment of comments;let i=index">
          <img class="avatar" :src="{{comment.order.customer.cPictureurl}}">
          {{comment.order.customer.cName}}
          <button mat-raised-button color="accent" class="btn-send" (click)="startSending(comment, template)">回复</button>
          <div class="comment-conetnt">
              {{comment.cmInfo}}
          </div>
          <p class="time">{{comment.cmDate|date:'yyyy-MM-dd HH:mm:ss'}}</p>

          <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    查看评论
                  </mat-panel-title>
                  <mat-panel-description>
                    {{panelOpenState ? '收起' : '展开'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="d-forum" *ngFor="let forum of forumArray[i]"> 
                    <img class="avatar-small" :src="{{forum.customer.cPictureurl}}">
                    {{comment.order.customer.cName}}
                    <p class="forum-content">{{forum.fContent}}</p>
                </div>
              </mat-expansion-panel>
          </mat-accordion>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <h3>最新评价</h3>
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar class="headbar mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:2" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2" class="ok">
        <span>特别说明</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="12"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="18:5" class="divideList">
  <mat-grid-tile class="devideTile">
    <img class="dividePic" :src="https://i8.mifile.cn/b2c-mimall-media/aaee9db8790426631abc3b76fa3da617.jpg">
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar class="headbar mat-elevation-z2" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:2" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="2" class="ok">
        <span>官方微信</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="12"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="15:2" class="divideList">
  <mat-grid-tile class="devideTile">
    <img class="dividePic" :src="https://i8.mifile.cn/b2c-mimall-media/1a84b2b629512205bf528aae91361efb.jpg">
  </mat-grid-tile>
</mat-grid-list>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">回复评价</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-form-field class="mat-form">
          <textarea matInput placeholder="请输入回复内容:" [(ngModel)]="content"></textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="sendForum(modalRef)">确定回复</button>
    </div>
  </ng-template>