.head {
    background-color: #f5f5f5;
    height: 30px;
}
.bar {
    width: 100%;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: top center;
}
.title {
    font-size: 14px;
}
span{
    color: #333;
}
.body{
    background-color: #f5f5f5;
    width: 100%;
    height: 1000px;
}
.bbar {
    width: 100%;
    margin-bottom: 30px;
}
.list {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 300px;
}
.sc-left {
    margin-top: -300px;
}
.title1 {
    margin: 0 40px 2px;
    font-size: 16px;
    width: 100%;
    line-height: 52px;
    color: #333
}
.choose {
    color:rgb(235, 22, 22);
}
a {
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    cursor: auto;
}
.top {
    float: left;
    width: 800px;
    height: 150px;
    margin-top: -100px;
}
.toprow{
    font-size: 30px;
    height: 150px;
}
.toprow1{
    font-size: 16px;
    height: 150px;
    width: 800px;
    border-top: 1px solid #e0e0e0;
}
h1 {
    font-size: 30px;
    color: #757575;
    width: 800px;
    padding-bottom: 20px;
}
.size {
    font-size: 16px;
    color:rgb(0, 0, 0);
}