<div class="menu mat-elevation-z8" (mouseleave)="hideDetail()">
  <mat-grid-list cols="5" rowHeight="460px">
    <mat-grid-tile class="menu1" [ngStyle]="{'background-color': currentColor}">
      <mat-grid-list cols="1" rowHeight="240:92" class="list">
        <mat-grid-tile [@listStagger]="items" rowspan="1" *ngFor="let item of items; index as i">
          <button mat-button class="menu-btn" (mouseover)="showDetail(i)">{{item}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" *ngIf="!isShowDetail">
      <carousel class="carousel" (activeSlideChange)="log($event)">
        <slide *ngFor="let img of goodsImages; let i=index" class="slide">
          <img :src="{{img}}" style="display: block;height: 460px;">
        </slide>
      </carousel>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" *ngIf="isShowDetail">
      <mat-card class="detail-card mat-elevation-z8">
        <mat-grid-list class="detail-list" cols="4" rowHeight="72px">
          <mat-grid-tile [@listStagger]="showGoodsList$" *ngFor="let item of showGoodsList$; let i=index">
            <mat-grid-list cols="3" rowHeight="1:1" style="width: 100%;">
              <mat-grid-tile>
                <img src="{{item.pic}}" class="small-img">
              </mat-grid-tile>
              <mat-grid-tile colspan="2" class="goodsNameTile">
                <a href="/#/info/{{item.goodId}}" class="link">{{item.name}}</a>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-grid-list cols="3" rowHeight="2:1" class="divideList">
  <mat-grid-tile class="devideTile" *ngFor="let item of goodsImage2">
    <img class="dividePic" :src="{{item}}">
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar class="headbar" color="primary">
  <mat-toolbar-row>
    <mat-grid-list cols="15" rowHeight="5:3" class="bar">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile class="ok">
        <span>闪购</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="6"></mat-grid-tile>
      <mat-grid-tile class="ok">
        <span>团购</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="6">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let item of showBeans; let i=index">
  <mat-grid-list cols="1" rowHeight="10:1" class="divideList">
    <mat-grid-tile class="devideTile">
      <img class="dividePic" :src="{{item.dividePic}}">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-list class="divide-list">
    <mat-list-item class="title-item">{{item.typeName}}</mat-list-item>
    <mat-list-item class="seeall-item" (mouseover)="changeSeeAllColor(1)" (mouseleave)="changeSeeAllColor(0)" [ngStyle]="{'color': currentSeeAllColor}">查看全部
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="currentSeeAllColor!='red'">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="currentSeeAllColor=='red'">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" fill="red" />
      </svg>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-grid-list cols="5" rowHeight="1:2" class="divideList">

    <mat-grid-tile colspan="1" class="simple-tile">
      <mat-grid-list cols="1" rowHeight="{{item.isOneAdvPic?&#34;2&#58;5&#34;:&#34;4&#58;5&#34;}}" class="advlist">
        <mat-grid-tile *ngFor="let pic of item.advPics; let j = index" display:block (mouseover)="setElevation(i,j,1)" (mouseleave)="setElevation(i,j,0)" [ngStyle]="{'top': isShowUp(!isShowElevationNew[i][j])}">
          <img :src="{{pic}}" class="advimg" [ngClass]="{'mat-elevation-z2': isShowElevationNew[i][j],'mat-elevation-z8': !isShowElevationNew[i][j]}">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" class="simple-tile">
      <mat-grid-list cols="4" rowHeight="4:5" class="advlist">
        <mat-grid-tile  (mouseover)="setElevation2(i,k,1)" *ngFor="let good of item.goods; let k=index"
           (mouseleave)="setElevation2(i,k,0)" [ngStyle]="{'top': isShowUp2(!isShowElevationNew2[i][k])}">
          <mat-grid-list cols="1" rowHeight="5:1" class="advlist" [ngClass]="{'mat-elevation-z2': isShowElevationNew2[i][k],'mat-elevation-z8': !isShowElevationNew2[i][k]}">
            <mat-grid-tile rowspan="4">
              <img :src="{{good.pic}}" class="advpic">
            </mat-grid-tile>
            <mat-grid-tile>
              {{good.name}}
            </mat-grid-tile>
            <mat-grid-tile>
              {{good.price}}元
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
