<mat-toolbar mat-elevation-z8 class="headbar" color="primary">
  <mat-toolbar-row>
    <span>Are you OK</span>
    <span class="searchSpan">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="输入搜索关键词" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜索</button>
        </div>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
