.headbar {
  background-color: #ffffff;
  color: black;
  z-index: -1 !important;
}

.searchSpan {
  margin-top: 3%;
}

.bar {
  width: 100%;
}

.menu {
  margin-top: 2%;
  margin-left: 10%;
  width: 1200px;
  height: 460px;
}

.menu1 {
  background-color: #625C52;
  color: #ffffff;
}

.list {
  width: 100%;
  height: 100%;
}

.menu-btn {
  width: 100%;
  height: 100%;
  color: #ffffff;
  border-color: #625C52;
  background-color: rgba(0, 0, 0, 0);
}

.carousel {
  height: 100%;
  width: 100%;
  .slide {
    height: 100%;
    width: 100%;
  }
}

.detail-card {
  height: 100%;
  width: 100%;
  padding: 1%;
  .detail-list {
    height: 100%;
    width: 100%;
  }
  .small-img {
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  .link {
    cursor: pointer !important;
    width: 100%;
    z-index: 5;
    color: black;
  }
  a:hover {
    color: #625C52;
    text-decoration: #625C52;
  }
  .goodsNameTile {
    float: left;
  }
}

.divideList {
  width: 1200px;
  display: block;
  margin-top: 30px;
  margin-left: 10%;
  padding: 0;
  .divideTile {
    width: 95%;
    padding: 0;
  }
  
}
.dividePic {
  display: inline-block;
  width: 100%;
}

.divide-list {
  margin-left: 9%;
}

.seeall-item {
  display: inline-block !important;
  cursor: pointer;
}

.title-item {
  display: inline-block !important;
  width: 80%;
}

.advlist {
  width: 95%;
  height: 95%;
}
.piclist{
  width:60%;
  height:60%;
}

.simple-tile {
  width: 100%;
  height: 100%;
}

.advimg {
  width: 100%;
  height:98%;
}
.advpic{
  width:70%;
  height:80%;
}

.superTile {
  width: 234px !important;
  height: 300px;
}
.ppp{
  color: rgb(219, 161, 84);
}
